.work {
  min-height: 1000px;
}

.work .mainHeaderWork {
  height: 30vh;
  background-image: url("../assets/ourWorkHeader.jpg");
}

.work .mainHeaderWork h1 {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.work .workPreview {
  margin-top: 15vh;
}

.work .workPreview ul {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-auto-rows: 1fr;
  list-style-type: none;
  margin: 0 auto;
}

.work .workPreview ul li {
  display: flex;
  flex-direction: column;
}

.work .workPreview ul li img {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}

.work .workPreview ul li p {
  margin-top: 15px;
  letter-spacing: 1px;
  color: rgb(41, 41, 41);
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  padding: 10px;
}
