.work {
  min-height: 1000px;
  background-color: rgb(233, 232, 232);
}

.work .mainHeaderWork {
  height: 30vh;
  background-image: url("../assets/ourWorkHeader.jpg");
}

.work .mainHeaderWork h1 {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.work .workPreview {
  margin: 15vh 0;
}

.work .workPreview ul {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-auto-rows: 1fr;
  list-style-type: none;
  margin: 0 auto;
}

.work .workPreview ul li {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.work .workPreview ul li:nth-child(1) {
  animation: fadeInLeft 1s;
}
.work .workPreview ul li:nth-child(2) {
  animation: fadeInLeft 1.5s;
}
.work .workPreview ul li:nth-child(3) {
  animation: fadeInLeft 2s;
}
.work .workPreview ul li:nth-child(4) {
  animation: fadeInLeft 2.5s;
}
.work .workPreview ul li img {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border-bottom: 1px solid rgb(180, 180, 180);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.work .workPreview ul li p {
  margin-top: 15px;
  letter-spacing: 1px;
  color: rgb(41, 41, 41);
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  padding: 30px;
}
